doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals.name + '\'s Info'
  body
    h1= locals.name + '(' + locals.username + ')'
    #info
    span= locals.name + ' is a ' + locals.usage.languages[0].language
    = " language: "
    each item in locals.usage.languages
      span= item.language + " "

    = " connected_users: "
    each item in locals.connected_users
      span=item.name + " "

    = " similar_users: "
    each item in locals.similar_users
      span=item.name + " "